body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory
}

section {
  scroll-snap-align: start;
}

:root {
  --primary-color: #FFBA49;
  --secondary-color: #20A39E;
  --tertiary-color: #EF5B5B;
  --fourth-color: #23001E;
  --fifth-color: #A4A9AD;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

.header {
  text-align: center;
}

section h2 {
  box-shadow: 0 1px 3px black;
  display: inline;
}

.extra-padding {
  padding-top: 12vh;
}

.hero{
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.about-color {
  background-color: var(--primary-color);
}

.hero h2 {
  box-shadow: 0 1px 3px black;
}

/* projects */
.projects {
  height: 100vh;
  background-color: var(--secondary-color);
}

.projects-color {
  background-color: var(--secondary-color);
}

.project {
  overflow: hidden;
}

.projects .card { 
  border-radius: 15px;
}

.project img {
  filter: none;
  transition: 0.5s;
  border-radius: 15px;
  height: 25vh;
  border: 1px solid black;
}

.project:hover img{
  filter: blur(6px);
  transition: 0.5s;
  opacity: 0.9;
}

.project h3, .project p {
  position: relative;
  top: 500px;
  transition: 1s;
  z-index: 1;
}

.project:hover h3{
  top: 0;
  transition: 0.75s;
}

.project:hover p {
  top: 0;
  transition: 0.75s;
  transition-delay: 0.1s;
}

.card-img-overlay {
  top: 35%;
  text-align: center;
  padding-bottom: 0;
}

.card-group {
  border-radius: 15px;
  align-items: center;
}

/* about me */
#about {
  height: 100vh;
  background-color: var(--tertiary-color);
}

.contact-color {
  background-color: var(--tertiary-color);
}

.about-me img {
  max-height: auto;
  size: cover;
  position: center;
  max-width: 30vh;
}

.round {
  border-radius: 50%;
}

.card {
  padding: 0;
}

.center {
  justify-content: center;
  margin-top: 4vh;
}

svg {
  color: white;
  fill: white;
}

a {
  /* color: white; */
  text-decoration: none;
}

a:hover {
  color: var(--fifth-color);
  text-decoration: none;
}

li {
  list-style: none;
}

nav  li {
  cursor: pointer;
}

/* contact me */
#contact {
  background-color: var(--fourth-color);
  color: white;
  height: 50vh;
  text-align: center;
}


.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

/* media queries */
@media screen and (max-width: 800px){
  .projects {
      height: 200vh;
  }
  .project {
      margin-top: 1vh;
  }
  .center-align {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .project img {
      filter: blur(2px);
  }
  .project h3, .project p {
      position: relative;
      top: -10%;
  }
}